<h2>New event</h2>

<%= render "form.html", changeset: @changeset,
                        selected_food_source_ids: [],
                        food_sources: @food_sources,
                        action: event_path(@conn, :create) %>

<%= link "Back", to: event_path(@conn, :index) %>
